.scroll-animated-element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .scroll-animated-element.animate {
    opacity: 1;
    transform: translateY(0);
  }
  