/* :root{
    --clr-neutral-900: hsl(207,19%,9%);
    --clr-neutral-100: hsl(0,0%,100%);
    --clr-neutral-400: hsl(142 90% 61%)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--clr-neutral-900);
    font-family: sans-serif;
}

.card{
    color: var(--clr-neutral-100);
    background-image: url("https://images.pexels.com/photos/15828302/pexels-photo-15828302.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-size: cover;
    padding: 10rem 0 0 ;
    max-width: 35ch;
}

     */