
/*======== Google Fonts (Oswald ,Bebas Neue) ========*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

/*======== All Element ========*/
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Bebas Neue',sans-serif;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

/*======== Navigation Bar ========*/
nav {
   background-color: transparent;
   padding: 20px 30px 40px 30px;
   position: fixed;
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 96vw;
        height: 120px;
        background-color: rgb(35, 90, 50);
        border-radius: 25px;
        box-shadow: 15px 25px 15px rgb(0, 0, 0);
        border: 5px solid rgb(35, 90, 50); 
        .oneUl {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            li {
                color: rgb(245, 245, 245);
                font-size: 50px;
                align-items: center;
            }
            li:hover {
                color: rgb(253, 214, 0);
                i {
                    font-size: 60px
                }
                a{
                    font-size: 40px;
                    color: rgb(253, 214, 0);
                }
            }
            a {
                padding-left: 15px;
                color: rgb(245, 245, 245);
                font-size: 30px;
            }
        }
        .twoUl {
            display: flex;
            flex: 2;
            justify-content: center;
            align-items: center;
            a {
                padding-left: 15px;
                color: rgb(245, 245, 245);
                font-size: 20px;
            }
            a:hover {
                font-size: 25px;
                color: rgb(253, 214, 0);
            }
        }
        .threeUl {
            display: flex;
            flex: 1;
            justify-content: end;
            padding-right: 20px;
            li {
                padding: 10px;
                border-radius: 20px;
                background-color: white;
                input {
                    color: black;
                    background-color: white;
                    font-size: 18px;
                    font-weight: 800;
                    padding: 5px 0px 5px 5px;
                    border: none;
                    height: 30px;
                    width: 200px;
                    align-items: center;
                    font-family: Oswald,sans-serif;
                }
                input:focus {
                    outline: none;
                }
                button {
                    font-size: 20px;
                    background-color: white;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 30px;
                    width: 30px;
                }
                button:hover {
                    font-size: 20px;
                    background-color: rgb(253, 214, 0);
                    color: white;

                }
            }
        }

        .fourUl {
            display: flex;
            flex: 1;
            justify-content: start;
            align-items: center;
            padding-left: 10px;
            li {
                border-radius: 25px 0px 0px 25px;
                overflow: hidden;
                button {
                    font-size: 30px;
                    font-weight: bold;
                    color: rgb(121, 186, 92);
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    padding: 5px 20px 5px 20px;
                    background-color: rgb(253, 214, 0);
                }
                button:hover {
                    font-size: 35px;
                    color: rgb(253, 214, 0);
                    background-color: white;
                    border-radius: 20px 0px 0px 20px;
                    padding-right: 20px;
                }
            }
            li:nth-child(1) {
                border-radius: 25px 0px 0px 25px;
            }
            li:nth-child(1):hover {
                border-radius: 25px;
            }
            li:nth-child(2) {
                border-radius: 0px 25px 25px 0px;
            }
            li:nth-child(2):hover {
                border-radius: 25px;
            }
        }

    }
            
}

